@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto&display=swap');


body{
    padding: 0px;
    margin: 0px;
    font-family: 'Lato', sans-serif;
}
h1, h2, h3, h4{
    font-family: 'Roboto', sans-serif;
}
#banner{
    height: 80vh;
    background: url(../priests-house-1.jpg) center no-repeat no-repeat;
    background-size: cover;
}
#banner-cover{
    width: 300px;
    height: 370px;
    background-color: rgba(106, 134, 143, 0.774);
    float: left;
    text-align: center;
    padding-top: 50px;
    margin-left: 200px;
    margin-top: 140px;
}
#small-cover{
    color: white;
    font-size: 100%;
    text-transform: uppercase;
    width: 100%;
}

#large-cover{
    color: white;
    font-size: 500%;
    font-weight: 500;
    width: 100%;
}
.timer-container{
    height: 80px;
    width: 170px;
    line-height: 40px;
    text-align: center;
    background-color: rgba(106, 134, 143, 0.774);
    float: right;
    margin-right: 200px;
    margin-top: 40vh;
    color: white;
    border-radius: 50%;
    padding: 70px;
}
#days{
    font-size: 700%;
    font-weight: 500;
}
#days-word{
    font-size: 200%;
    text-transform: uppercase;
}
#top-banner{
    height: 70px;
    background-color: rgb(106, 134, 143);
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
    color: white;
    line-height: 70px;
    font-size: 120%;
}
#content-banner{
    height: 70px;
    background-color: rgb(106, 134, 143);
    width: 100%;
    text-align: center;
    line-height: 70px;
    font-size: 120%;
}
#content-banner a{
    color: white;
}
.nav-button{
    width: 10%;
    margin: 10px;
    padding: 5px;
}
.nav-button:hover{
    color: rgb(75, 120, 133);
    background-color: white;
}
#deeandtom{
    width: 500px;
    margin: auto;
    border-radius: 50px;
    transform: skewY(2deg);
}
#welcome-text{
    width: 60%;
    text-align: center;
    margin: 0 auto;
    font-size: 150%;
    padding: 20px;
}
#footer-banner{
    height: 70px;
    background-color: rgb(106, 134, 143);
    width: 100%;
    text-align: center;
    color: white;
    line-height: 70px;
    font-size: 120%;
    position: static;
    bottom: 0;
    margin-top: 70px;
}
#footer-banner a{
    color: white;
    padding: 5px;
}
#footer-banner a:hover{
    color: rgb(106, 134, 143);
    background-color: white;
}
#footer-name{
    width: 10%;
    margin: 10px;
    padding: 10px;
}
#footer-date{
    width: 10%;
    margin: 10px;
    padding: 5px;
}
#footer-made{
    width: 10%;
    margin: 10px;
    padding: 5px;
}
.page-heading{
    text-align: center;
    font-size: 300%;
}
.main-container{
    text-align: center;
    width: auto;
    height: auto;
    padding-right: 20%;
    padding-left: 20%;
}
#order-priest{
    width: 700px;
    border-radius: 30px;
}
#bus-image, #eagle-image{
    width: 500px;
    border-radius: 30px;
}
table{
    text-align: center;
    margin: auto;
    border: 1px solid black;
}
td{
    width: 200px;
    border: 1px solid black;
}
th{
    width: 200px;
    border: 1px solid black;
}