@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto&display=swap');


body{
    padding: 0px;
    margin: 0px;
    font-family: 'Lato', sans-serif;
}
h1, h2, h3, h4{
    font-family: 'Roboto', sans-serif;
}
#banner{
    height: 80vh;
    background: url(../priests-house-1.jpg) center no-repeat no-repeat;
    background-size: cover;
}
#banner-cover{
    width: 300px;
    height: 370px;
    background-color: rgba(106, 134, 143, 0.774);
    float: left;
    text-align: center;
    padding-top: 50px;
    margin-left: 200px;
    margin-top: 140px;
}
#small-cover{
    color: white;
    font-size: 100%;
    text-transform: uppercase;
    width: 100%;
}

#large-cover{
    color: white;
    font-size: 500%;
    font-weight: 500;
    width: 100%;
}
.timer-container{
    height: 80px;
    width: 150px;
    line-height: 40px;
    text-align: center;
    background-color: rgba(106, 134, 143, 0.774);
    float: right;
    margin-right: 200px;
    margin-top: 40vh;
    color: white;
    border-radius: 50%;
    padding: 70px;
}
#days{
    font-size: 500%;
    font-weight: 500;
}
#days-word{
    font-size: 200%;
    text-transform: uppercase;
}
#top-banner{
    height: 70px;
    background-color: rgb(106, 134, 143);
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
    color: white;
    line-height: 70px;
    font-size: 120%;
}
.menu-toggle {
    padding: 15px;
    display: none;
    }
.main-menu {
    position: absolute;
    display: none;
    left: -200px;
    top: 0;
    height: 240px;
    transition: left 0.3s ease,
          box-shadow 0.3s ease;
    z-index: 999;
    
    }
.main-menu ul {
    list-style: none;
    margin: 0;
    padding: 2.5em 0 0;
    height: 400px;
    width: 200px;
    background: #1a1a1a;
    }
.main-menu a {
    display: block;
    padding: .75em 15px;
    line-height: 1em;
    font-size: 1em;
    color: #fff;
    text-decoration: none;
    border-bottom: 1px solid #383838;
    }
.small-link{
    font-size: 0.7em;
}    
.main-menu li:first-child a {
    border-top: 1px solid #383838;
    }
.main-menu a:hover, .main-menu a:focus {
    background: #333;
    text-decoration: underline;
    }
.main-menu .menu-close {
    position: absolute;
    right: 0;
    top: 0;
    }

/* Inside the pop-out menu --------------------------------- */
.main-menu:target,
.main-menu[aria-expanded="true"] {
  display: block;
  left: 0;
  outline: none;
}

.main-menu:target .menu-close,
.main-menu[aria-expanded="true"] .menu-close {
  z-index: 1001;
}

.main-menu:target ul,
.main-menu[aria-expanded="true"] ul {
  position: relative;
  z-index: 1000;
}
.list-active{
    background-color: rgb(106, 134, 143);
}
#content-banner{
    height: 70px;
    background-color: rgb(106, 134, 143);
    width: 100%;
    text-align: center;
    line-height: 70px;
    font-size: 120%;
}
#content-banner a{
    color: white;
}
.nav-button{
    width: 10%;
    margin: 10px;
    padding: 5px;
}
.nav-button:hover, .active{
    color: rgb(75, 120, 133);
    background-color: white;
}
#deeandtom{
    width: 500px;
    margin: auto;
    border-radius: 50px;
    transform: skewY(2deg);
}
#welcome-text{
    width: 60%;
    text-align: center;
    margin: 0 auto;
    font-size: 150%;
    padding: 20px;
}
#footer-banner{
    height: 70px;
    background-color: rgb(106, 134, 143);
    width: 100%;
    text-align: center;
    color: white;
    line-height: 70px;
    font-size: 120%;
    position: static;
    bottom: 0;
    margin-top: 70px;
}
#footer-banner a{
    color: white;
    padding: 5px;
}
#footer-banner a:hover{
    color: rgb(106, 134, 143);
    background-color: white;
}
#footer-names{
    width: 10%;
    margin: 10px;
    padding: 10px;
}
#footer-date{
    width: 10%;
    margin: 10px;
    padding: 5px;
}
#footer-made{
    width: 10%;
    margin: 10px;
    padding: 5px;
}
.page-heading{
    text-align: center;
    font-size: 300%;
}
.main-container{
    text-align: center;
    width: auto;
    height: auto;
    padding-right: 20%;
    padding-left: 20%;
}
#order-priest, #stirk{
    width: 700px;
    border-radius: 30px;
}
#bus-image, #eagle-image, #inside-stirk{
    width: 500px;
    border-radius: 30px;
}
table{
    text-align: center;
    margin: auto;
    border: 1px solid black;
}
td{
    width: 200px;
    border: 1px solid black;
}
th{
    width: 200px;
    border: 1px solid black;
}
.blog-image{
    border-radius: 30px;
    width: 50%;
}
#carousel-container{
    width: 100%;
    margin: auto auto;
}
.mySlides{
    height: 500px;
    width: auto;
    margin: auto auto;
    border-radius: 30px;
}
.mySlides1{
    height: auto; 
    width: 70%;
    margin: auto auto;
    border-radius: 30px;
}
#bus-table{
    font-size: 0.7rem;
}
#photos-container, #uploadContainer{
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 20px;
    padding: 20px;
}
#photos-container > img, #uploadContainer > img {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
}
#uploadForm{
    border: 4px black double;
    padding: 20px;
    width: 300px;
    border-radius: 20px;
    text-align: center;
    margin: auto auto;
}
#imageUploadSubmit{
    background-color: rgb(106, 134, 143);
    color: white;
    width: 100px;
    height: 50px;
    border-radius: 15px;
}
#imageUploadSubmit:hover{
    color: rgb(106, 134, 143);
    background-color: white;
}
@media screen and (max-height: 760px){
    #banner{
        height: 600px;
    }
}
@media screen and (max-width: 1676px){
    #confirm-form{
        width: 32%;
    }
    #contact-form{
        width: 32%;
    }
    #help-form{
        width: 32%;
    }
}
@media screen and (max-width: 1675px){
    iframe{
        width: 100%;
        height: 600px;
    }
}
@media screen and (max-width: 1200px){
    #confirm-form{
        width: 600px;
        height: 1000px;
        margin: auto;
    }
    #contact-form{
        width: 600px;
        height: 850px;
        margin: auto;
    }
    #help-form{
        width: 600px;
        height: 1300px;
        margin: auto;
    }
    .contact-container{
        margin: auto;
        width: 602px;
    }
}
@media screen and (max-width: 1170px){
    #stirk{
        width: 100%;
        height: auto;
    }
    #order-priest{
        width: 100%;
        height: auto;
    }
    #stirkprices{
        width: 100%;
        height: auto;
    }
}
@media screen and (max-width: 1000px){
    #banner-cover{
        width: 230px;
        height: 120px;
    }
    #small-cover{
        font-size: small;
    }
    #large-cover{
        font-size: x-large;
    }
    .timer-container{
        width: 120px;
        height: 60px;
        padding: 0px;
        padding-top: 20px;
        line-height: 15px;
    }
    #days{
        font-size: x-large;
    }
    #days-word{
        font-size: x-small;
    }
}
@media screen and (max-width: 850px){
    .main-menu{
        display: unset;
    }
    .menu-toggle{
        display: inline-block;
        color: white;
    }
    #top-banner{
        line-height: 40px;
        position: fixed;
        z-index: 999;
    }
    #content-banner{
        display: none;
    }
    #banner{
        border-bottom: 20px solid rgb(106, 134, 143);
    }
    #bus-image{
        width: 100%;
        height: auto;
    }
    #inside-stirk{
        width: 100%;
        height: auto;
    }
    #guestbook-image{
        width: 100%;
        height: auto;
    }
    #deeandtom{
        width: 100%;
        height: auto;
    }
    #eagle-image{
        width: 100%;
        height: auto;
    }
    #photos-container, #uploadContainer{
        column-count: 3;
        column-gap: 15px;
        padding: 15px;
    }
    #photos-container > img, #uploadContainer > img {
        width: 100%;
        margin-top: 7px;
        margin-bottom: 7px;
        border-radius: 15px;
    }
    .mySlides{
        height: 400px; 
        margin: auto;
    }
}
@media screen and (max-width: 749px){
    .timer-container{
        margin-top: 40px;
    }
}
@media screen and (max-width: 625px){
    #footer-banner{
        font-size: small;
    }
    #footer-names{
        width: auto;
        margin: 2px;
    }
    #footer-date{
        width: auto;
        margin: 2px;
    }
    #footer-made{
        width: auto;
        margin: 2px;
    }
}
@media screen and (max-width: 600px){
    #confirm-form{
        width: 100%;
        height: 950px;
    }
    #contact-form{
        width: 100%;
        height: 850px;
    }
    #help-form{
        width: 100%;
        height: 1400px;
    }
    .contact-container{
        width: 100%;
    }
}
@media screen and (max-width: 550px){
    #welcome-text{
        font-size: medium;
        padding: 35px;
        margin: 0px;
        width: 85%;
    }
    #deeandtom{
        width: 70%;
    }
    .index-heading{
        font-size: x-large;
    }
}
@media screen and (max-width: 500px){
    .page-heading{
        font-size: 200%;
    }
    #photos-container, #uploadContainer{
        column-count: 2;
        column-gap: 10px;
        padding: 10px;
    }
    #photos-container > img, #uploadContainer > img {
        width: 100%;
        margin-top: 5px;
        margin-bottom: 5px;
        border-radius: 15px;
    }
}
@media screen and (max-width: 461px){
    #welcome-text{
        font-size: medium;
        padding: 35px;
        margin: auto;
        width: 75%;
    }
}
@media screen and (max-width: 450px){
    .main-container{
        padding-left: 5%;
        padding-right: 5%;
    }
    #top-banner{
        font-size: medium;
    }
    .timer-container{
        margin: auto;
        margin-top: 50px;
        margin-right: 55px;
    }
    #banner-cover{
        margin: auto;
        margin-top: 100px;
        margin-left: 50px;
    }
}
@media screen and (max-width: 435px){
    #footer-banner{
        font-size: x-small;
    }
    #footer-names{
        padding: 0px;
    }
    #footer-date{
        padding: 0px;
    }
    #footer-made{
        padding: 0px;
    }
}
@media screen and (max-width: 360px){
    #footer-banner{
        font-size: x-small;
    }
}
@media screen and (max-width: 320px){
    #top-banner{
        font-size: small;
    }
    #welcome-text{
        font-size: medium;
        padding: 35px;
        margin: auto;
        width: 70%;
    }
}
@media screen and (max-width: 310px){
    #footer-banner{
        font-size: xx-small;
    }
}